---
import type { ContactSection } from "../../types/contacto";
import { getContact } from "../../utils/i18n/i18n";

const { lang } = Astro.params;
const currentLang = lang as "es" | "en";

const contact = await getContact(currentLang) as ContactSection;
---

<section class="contact">

  <div class="contact-container">
    <span class="contact-tag">{contact.header}</span>
    <h2>{contact.title}</h2>
    <h3>{contact.subtitle}</h3>
  </div>
  <div class="contact-content">
    
    <div class="contact-info">
      {contact.info.map((item) => (
        <div class="contact-item">
          <span class="contact-label">{item.label}</span>

          {item.type === "email" && (
            <a href={`mailto:${item.value}`} class="contact-value">
              {item.value}
            </a>
          )}

          {item.type === "phone" && (
            <a href={`tel:${item.value}`} class="contact-value">
              {item.value}
            </a>
          )}

          {item.type === "text" && (
            <span class="contact-value address">
              {item.value}
            </span>
          )}
        </div>
      ))}
    </div>

    <div class="contact-map">
      <iframe
        src={contact.mapUrl}
        loading="lazy">
      </iframe>
    </div>
  </div>
</section>