---
import type { ContactSection } from "../../types/contacto";
import { getContact } from "../../utils/i18n/i18n";

const { lang } = Astro.params;
const currentLang = lang as "es" | "en";

const contact = await getContact(currentLang) as ContactSection;
---

<section class="section-block contact-block">
  <div class="section-container">

    <span class="section-tag">
      {contact.header}
    </span>

    <h2>{contact.title}</h2>

    <h3>{contact.subtitle}</h3>

    <div class="contact-info">
      <p><strong>Address:</strong> {contact.info.address}</p>
      <p><strong>Phone:</strong> {contact.info.phone}</p>
      <p><strong>Email:</strong> 
        <a href={`mailto:${contact.info.email}`}>
          {contact.info.email}
        </a>
      </p>
    </div>
  </div>
</section>